<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>signin</servlet-name>
    <servlet-class>com.fom.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>callback</servlet-name>
    <servlet-class>com.fom.CallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.fom.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>com.fom.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>callback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>facebook4j.FacebookException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.fom.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCommentsForPost</display-name>
    <servlet-name>GetCommentsForPost</servlet-name>
    <servlet-class>com.fom.GetCommentsForPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentsForPost</servlet-name>
    <url-pattern>/GetCommentsForPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostComment</display-name>
    <servlet-name>PostComment</servlet-name>
    <servlet-class>com.fom.PostComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostComment</servlet-name>
    <url-pattern>/PostComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharePost</display-name>
    <servlet-name>SharePost</servlet-name>
    <servlet-class>com.fom.SharePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharePost</servlet-name>
    <url-pattern>/SharePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddListeningActivity</display-name>
    <servlet-name>AddListeningActivity</servlet-name>
    <servlet-class>com.fom.AddListeningActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddListeningActivity</servlet-name>
    <url-pattern>/AddListeningActivity</url-pattern>
  </servlet-mapping>
</web-app>